<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 属性设置 -->
    <property name="cmpName" value="rw"/>
    <property name="appName" value="pool"/>

    <!-- 应用名称 -->
    <contextName>${appName}</contextName>

    <!-- 控制台输出日志 appender类型：ConsoleAppender、FileAppender、RollingFileAppender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder example: 15:47:33 [main] INFO com.lixin.credit.logback.TestLog
            - === info -->
        <encoder>
            <pattern>${cmpName}#-#${appName}#-#%d{yyyy-MM-dd HH:mm:ss.SSS}#-#%X{X-B3-TraceId:-}#-#%-5level#-#%logger{35}#-#%msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 根logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>